body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6fe;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

body, html {
  min-height: 100vh;
  max-width: 100vw;
}

#top > img {
  display: inline-block;
  position: absolute;
  height: 520px;
  right: 0;
  top: 0;
}

#bottom > img {
  display: inline-block;
  position: fixed;
  bottom: 0;
}

/* 2 Componente */

@media only screen and (max-width: 600px) {
  body {
    overflow: scroll;
  }

  #bottom {
    display: none;
  }
  #top {
    display: none;
  }
}
