body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6fe;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

body, html {
  min-height: 100vh;
  max-width: 100vw;
}

#top > img {
  display: inline-block;
  position: absolute;
  height: 520px;
  right: 0;
  top: 0;
}

#bottom > img {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

/* 2 Componente */

.cards-box {
  display: flex;
  justify-content: center;
  position: absolute;
  min-height: 100%;
  width: 100%;
  /* background-color: #fff; */
}

.white-card {
  margin: 20px 0 20px 0;
  height: 380px;
  width: 270px;
  background-color: white;
}

.purple-card {
  margin: 20px 0 20px 0;
  height: 380px;
  width: 270px;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%))
}



@media only screen and (max-width: 600px) {
  body {
    overflow: scroll;
  }

  #bottom {
    display: none;
  }
  #top {
    display: none;
  }

  /* 2º Component */

  .cards-box {
    padding-top: 55px;
    flex-direction: column;
    align-items: center;
  }

  .white-card {
    margin: 20px 0 20px 0;
    height: 380px;
    width: 270px;
    background-color: white;
  }

  .purple-card {
    margin: 20px 0 20px 0;
    height: 380px;
    width: 270px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%))
  }
}
